In [22]:
#https://www.kaggle.com/datasets/brenda89/fifa-world-cup-2022
import pandas as pd

df = pd.read_csv('international_matches.csv')
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

In [24]:
df.head(5)
df = df.drop_duplicates()
#vamos remover os duplicados antes de remover a coluna 'date', pois pode acontecer de ter tido algum jogo com o mesmo
#resultado entre os times.
display(df)

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [25]:
df = df.drop(columns=['date', 'home_team_total_fifa_points', 'away_team_total_fifa_points', 'shoot_out', 'home_team_goalkeeper_score', 'away_team_goalkeeper_score', 'home_team_mean_defense_score', 'home_team_mean_offense_score', 'home_team_mean_midfield_score', 'away_team_mean_defense_score', 'away_team_mean_offense_score', 'away_team_mean_midfield_score'])
display(df)

,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_score,away_team_score,tournament,city,country,neutral_location,home_team_result
0,Bolivia,Uruguay,South America,South America,59,22,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,Win
1,Brazil,Mexico,South America,North America,8,14,1,1,Friendly,Maceió,Brazil,False,Draw
2,Ecuador,Venezuela,South America,South America,35,94,5,0,FIFA World Cup qualification,Quito,Ecuador,False,Win
3,Guinea,Sierra Leone,Africa,Africa,65,86,1,0,Friendly,Conakry,Guinea,False,Win
4,Paraguay,Argentina,South America,South America,67,5,1,3,FIFA World Cup qualification,Asunción,Paraguay,False,Lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,Moldova,Andorra,Europe,Europe,180,153,2,1,UEFA Nations League,Chișinău,Moldova,False,Win
23917,Liechtenstein,Latvia,Europe,Europe,192,135,0,2,UEFA Nations League,Vaduz,Liechtenstein,False,Lose
23918,Chile,Ghana,South America,Africa,28,60,0,0,Kirin Cup,Suita,Japan,True,Lose
23919,Japan,Tunisia,Asia,Africa,23,35,0,3,Kirin Cup,Suita,Japan,False,Lose
23920,Korea Republic,Egypt,Asia,Africa,29,32,4,1,Friendly,Seoul,Korea Republic,False,Win

In [26]:
df = df.drop(columns=['tournament', 'city', 'country'])
display(df)

,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_score,away_team_score,neutral_location,home_team_result
0,Bolivia,Uruguay,South America,South America,59,22,3,1,False,Win
1,Brazil,Mexico,South America,North America,8,14,1,1,False,Draw
2,Ecuador,Venezuela,South America,South America,35,94,5,0,False,Win
3,Guinea,Sierra Leone,Africa,Africa,65,86,1,0,False,Win
4,Paraguay,Argentina,South America,South America,67,5,1,3,False,Lose
...,...,...,...,...,...,...,...,...,...,...
23916,Moldova,Andorra,Europe,Europe,180,153,2,1,False,Win
23917,Liechtenstein,Latvia,Europe,Europe,192,135,0,2,False,Lose
23918,Chile,Ghana,South America,Africa,28,60,0,0,True,Lose
23919,Japan,Tunisia,Asia,Africa,23,35,0,3,False,Lose
23920,Korea Republic,Egypt,Asia,Africa,29,32,4,1,False,Win

In [27]:
df = df.rename(columns={'home_team': 'casa', 'away_team': 'visitante', 'home_team_continent': 'casa_continente', 'away_team_continent': 'visitante_continente'})
display(df)

,casa,visitante,casa_continente,visitante_continente,home_team_fifa_rank,away_team_fifa_rank,home_team_score,away_team_score,neutral_location,home_team_result
0,Bolivia,Uruguay,South America,South America,59,22,3,1,False,Win
1,Brazil,Mexico,South America,North America,8,14,1,1,False,Draw
2,Ecuador,Venezuela,South America,South America,35,94,5,0,False,Win
3,Guinea,Sierra Leone,Africa,Africa,65,86,1,0,False,Win
4,Paraguay,Argentina,South America,South America,67,5,1,3,False,Lose
...,...,...,...,...,...,...,...,...,...,...
23916,Moldova,Andorra,Europe,Europe,180,153,2,1,False,Win
23917,Liechtenstein,Latvia,Europe,Europe,192,135,0,2,False,Lose
23918,Chile,Ghana,South America,Africa,28,60,0,0,True,Lose
23919,Japan,Tunisia,Asia,Africa,23,35,0,3,False,Lose
23920,Korea Republic,Egypt,Asia,Africa,29,32,4,1,False,Win

In [28]:
df = df.rename(columns={'home_team_fifa_rank': 'rank_casa', 'away_team_fifa_rank': 'rank_visitante', 'home_team_score': 'gols_casa', 'away_team_score': 'gols_visitante'})
display(df)

,casa,visitante,casa_continente,visitante_continente,rank_casa,rank_visitante,gols_casa,gols_visitante,neutral_location,home_team_result
0,Bolivia,Uruguay,South America,South America,59,22,3,1,False,Win
1,Brazil,Mexico,South America,North America,8,14,1,1,False,Draw
2,Ecuador,Venezuela,South America,South America,35,94,5,0,False,Win
3,Guinea,Sierra Leone,Africa,Africa,65,86,1,0,False,Win
4,Paraguay,Argentina,South America,South America,67,5,1,3,False,Lose
...,...,...,...,...,...,...,...,...,...,...
23916,Moldova,Andorra,Europe,Europe,180,153,2,1,False,Win
23917,Liechtenstein,Latvia,Europe,Europe,192,135,0,2,False,Lose
23918,Chile,Ghana,South America,Africa,28,60,0,0,True,Lose
23919,Japan,Tunisia,Asia,Africa,23,35,0,3,False,Lose
23920,Korea Republic,Egypt,Asia,Africa,29,32,4,1,False,Win

In [29]:
df = df.rename(columns={'neutral_location': 'campo_neutro', 'home_team_result': 'resultado_casa'})
display(df)

,casa,visitante,casa_continente,visitante_continente,rank_casa,rank_visitante,gols_casa,gols_visitante,campo_neutro,resultado_casa
0,Bolivia,Uruguay,South America,South America,59,22,3,1,False,Win
1,Brazil,Mexico,South America,North America,8,14,1,1,False,Draw
2,Ecuador,Venezuela,South America,South America,35,94,5,0,False,Win
3,Guinea,Sierra Leone,Africa,Africa,65,86,1,0,False,Win
4,Paraguay,Argentina,South America,South America,67,5,1,3,False,Lose
...,...,...,...,...,...,...,...,...,...,...
23916,Moldova,Andorra,Europe,Europe,180,153,2,1,False,Win
23917,Liechtenstein,Latvia,Europe,Europe,192,135,0,2,False,Lose
23918,Chile,Ghana,South America,Africa,28,60,0,0,True,Lose
23919,Japan,Tunisia,Asia,Africa,23,35,0,3,False,Lose
23920,Korea Republic,Egypt,Asia,Africa,29,32,4,1,False,Win

In [30]:
df.isnull().sum()

casa                    0
visitante               0
casa_continente         0
visitante_continente    0
rank_casa               0
rank_visitante          0
gols_casa               0
gols_visitante          0
campo_neutro            0
resultado_casa          0
dtype: int64

In [35]:
df.groupby('resultado_casa')['casa'].count()
#Será que jogar em casa ajuda?

resultado_casa
Draw     5389
Lose     6771
Win     11761
Name: casa, dtype: int64

In [42]:
df.groupby('casa_continente')['resultado_casa'].value_counts()

casa_continente  resultado_casa
Africa           Win               2942
                 Lose              1492
                 Draw              1451
Asia             Win               2585
                 Lose              1517
                 Draw              1200
Europe           Win               3517
                 Lose              2390
                 Draw              1686
North America    Win               1369
                 Lose               813
                 Draw               590
Oceania          Win                286
                 Lose               161
                 Draw                83
South America    Win               1062
                 Lose               398
                 Draw               379
Name: resultado_casa, dtype: int64

In [57]:
df['casa']=='Brazil'

0        False
1         True
2        False
3        False
4        False
         ...
23916    False
23917    False
23918    False
23919    False
23920    False
Name: casa, Length: 23921, dtype: bool